body, html {
    height: 100%;
    margin: 0;
  }

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      display: flex;
      justify-content: center; 
      align-items: center; 
    }
  
  li {
    margin-right: 20px;
  }
  
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
    }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .logo {
    margin-left: -1000px;
    padding: 10px 10px;
  }

  .logo img {
    height: 60px; 
  }

