body, html {
    height: 100%;
    margin: 0;
}

.container {
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: left; 
    align-items: center; 
    position: absolute;
    width: 100%;
    z-index: 2;
}

li {
    margin-right: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 24px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.logo img {
    height: 90px; 
    padding: 10px 10px;
}

.background {
    background-image: url('gif.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 100vh; 
    position: relative;
    z-index: 1;
}

.overlay-image {
    position: relative;
    top: 0;
    left: 0;
    width: 20%;
    height: 40%;
    padding: 140px 20px;
}
